{
  "printWidth": 100,
  "parser": "typescript",
  "singleQuote": true,
  "semi": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
